@font-face {
  font-family: QuranFont;
  font-weight: normal;
  src: url('../fonts/QuranFont.woff') format('woff');
}
@font-face {
  font-family: AppFont;
  font-weight: normal;
  src: url('../fonts/AppFont.woff') format('woff');
}
@font-face {
  font-family: AppFont;
  font-weight: bold;
  src: url('../fonts/AppFontBd.woff') format('woff');
}
@font-face {
  font-family: NumberFont;
  font-weight: normal;
  src: url('../fonts/NumberFont.woff') format('woff');
}
/* bootstrap */
.nav {
  padding-right: 0;
  padding-left: 0;
}
.btn {
  padding: 2px 7px;
  font-size: 17px;
}
.btn-link[disabled] {
  color: #999;
}
.glyphicon {
  top: 4px;
}
/* zolal */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  padding: 0;
  overflow: hidden;
  direction: rtl;
  font-family: AppFont, NumberFont;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#wrap {
  height: 100%;
  position: relative;
}
body,
blockquote p,
.tooltip-inner {
  font-size: 18px;
}
.container {
  max-width: 600px;
}
#wrap {
  padding: 0;
  border-right: 2px solid #033649;
  border-left: 2px solid #031634;
}
#views {
  padding: 0 10px;
  position: relative;
  height: calc(100% - 60px);
}
#views:before,
#views:after {
  content: "";
  position: absolute;
  background: #e8ddcb;
  width: 600px;
  height: 100%;
  top: 0;
  z-index: 20;
}
#views:before {
  right: -602px;
}
#views:after {
  left: -602px;
}
#quran,
#tafsir,
#detail {
  height: 100%;
  text-align: justify;
  color: #031634;
  overflow: auto;
  display: none;
}
#quran.front,
#tafsir.front,
#detail.front {
  display: block;
}
#quran .content,
#tafsir .content,
#detail .content {
  overflow-x: hidden;
}
#tafsir {
  font-size: 22px;
  line-height: 30px;
}
#tafsir .aya {
  color: #008d8a;
}
#tafsir .aya:before {
  content: "«";
}
#tafsir .aya:after {
  content: "»";
}
#tafsir h1,
#tafsir h2,
#tafsir h3 {
  background: #e0d1b9;
  text-align: right;
  padding: 0 10px;
  margin: 0 -10px;
  color: #584c37;
  padding-top: 2px;
  padding-bottom: 2px;
}
#tafsir .ayas {
  background: #008d8a;
  color: #e8ddcb;
}
.loading {
  position: relative;
}
.loading:before {
  font-family: 'Glyphicons Halflings';
  content: "\e031";
  position: absolute;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  height: 20px;
  width: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  z-index: 10;
  color: #031634;
  -webkit-animation: ICON-SPIN 2s infinite linear;
  -moz-animation: ICON-SPIN 2s infinite linear;
  -ms-animation: ICON-SPIN 2s infinite linear;
  -o-animation: ICON-SPIN 2s infinite linear;
  animation: ICON-SPIN 2s infinite linear;
}
.loading:after {
  content: "صبر بفرمایید";
  position: absolute;
  top: calc(50% + 20px);
  left: 0;
  width: 100%;
  text-align: center;
  color: #031634;
}
.loading.failed:before {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}
.loading.failed:after {
  content: "خطا در اتصال";
  position: absolute;
  top: calc(50% + 20px);
  left: 0;
  width: 100%;
  text-align: center;
  color: #031634;
}
.loading.twitter-typeahead:before {
  left: 15px;
  color: inherit;
}
#quran {
  max-width: 600px;
  overflow: hidden;
  direction: ltr;
}
#quran #pages {
  width: 100000px;
  height: 100%;
  position: absolute;
}
#quran #pages.animate {
  transition: left .3s ease;
}
#quran #pages .page {
  height: 100%;
  margin-right: 10px;
  float: left;
  direction: rtl;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.aya-text {
  line-height: 44px;
  font-size: 25px;
}
.aya-text.active .text {
  background: #e0d1b9;
}
.aya-text.active .found {
  background: #D6BC89;
}
.aya-text .text {
  font-family: QuranFont;
}
.aya-text .mark {
  color: #036564;
}
.aya-text .number {
  font-family: AppFont;
  font-weight: bold;
  font-size: 65%;
  color: #f8f4ee;
  background: #cdb380;
  padding: 3px 4px 1px;
  border-radius: 50px;
  min-width: 15px;
  text-align: center;
  display: inline-block;
  line-height: 18px;
  margin: 0 1px;
  box-sizing: initial;
  -moz-box-sizing: initial;
}
#quran .page {
  visibility: hidden;
}
#quran .page.front {
  visibility: visible;
}
#quran .page div.bism {
  text-align: center;
  margin-top: -4px;
}
#quran .page div.bism span {
  font-size: 90%;
}
#quran .page div.sura {
  margin-top: 8px;
}
#quran .page div.sura:first-child {
  display: none !important;
}
#quran .page .aya-text {
  cursor: pointer;
}
.tafsir-text {
  text-align: justify;
  font-size: 20px;
  line-height: 25px;
}
.tafsir-text h1,
.tafsir-text h2,
.tafsir-text h3 {
  margin: 12px 0 6px;
  line-height: 30px;
  font-weight: bold;
}
.tafsir-text h2 {
  font-size: 24px;
}
.tafsir-text h3 {
  font-size: 22px;
}
.tafsir-text p {
  margin-bottom: 8px;
}
.tafsir-text p.ayas {
  margin-top: 10px;
}
.tafsir-text code {
  float: right;
  visibility: hidden;
  padding: 0;
  width: 0;
}
.tafsir-text em {
  font-style: normal;
  font-weight: bold;
  font-size: 90%;
}
.tafsir-text h3 em {
  font-size: 100%;
}
.tafsir-text span.footnote {
  display: inline-block;
  vertical-align: middle;
  font-family: NumberFont;
  line-height: 3px;
  font-size: 90%;
  padding: 0px 5px 17px;
  margin: 0 -5px;
  border-radius: 10px;
  cursor: pointer;
}
.tafsir-text .active {
  -webkit-animation: TAFSIR-HIGHLIGHT 1s ease;
  -moz-animation: TAFSIR-HIGHLIGHT 1s ease;
  -ms-animation: TAFSIR-HIGHLIGHT 1s ease;
  -o-animation: TAFSIR-HIGHLIGHT 1s ease;
  animation: TAFSIR-HIGHLIGHT 1s ease;
}
#detail #aya {
  margin-top: 10px;
}
#detail #translation {
  margin: 10px 0 20px;
}
#detail #sections a {
  color: inherit;
  text-decoration: none;
}
#detail #sections .fill {
  background: #e0d1b9;
  margin-bottom: 10px;
}
#detail #sections .footnote {
  display: none;
}
#detail #sections p {
  padding-top: 5px;
  padding-bottom: 5px;
}
#detail #sections h3 {
  margin: 0;
  color: #584c37;
  font-size: 90%;
  text-align: right;
}
#detail #sections .aya-text {
  float: right;
  color: #e8ddcb;
  background: #008d8a;
  font-size: 90%;
  line-height: 1.5;
  margin-left: 10px;
  padding-left: 10px;
  margin-bottom: 0;
}
#detail #goto-tafsir {
  float: left;
  cursor: pointer;
  background: #008d8a;
  margin-left: -10px;
  padding: 0 10px;
  color: #e8ddcb;
  text-decoration: none;
  font-size: 120%;
  margin-bottom: 20px;
}
body {
  background: #e8ddcb;
}
#header {
  position: relative;
  margin: 20px 10px 0;
}
#header > div {
  display: none;
}
#header .front {
  display: block;
}
#header .buttons-right {
  position: absolute;
  top: 0;
  right: 0;
}
#header .buttons-left {
  position: absolute;
  top: 0;
  left: 0;
}
#header .glyphicon {
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  float: right;
  z-index: 10;
  top: 0;
}
#header .glyphicon:hover {
  background: #036564;
}
#header input {
  padding: 0 10px;
  background-color: #031634;
  outline: none;
  border: none;
  height: 40px;
  width: 100%;
}
#header span.twitter-typeahead {
  width: 100%;
  position: absolute !important;
  left: 0;
  tof: 0;
}
#header #sura {
  direction: rtl;
  cursor: pointer;
  padding-left: 80px;
  padding-right: 7px;
  float: left;
  width: 50%;
}
#header #search {
  direction: rtl;
}
#header #page {
  font-family: NumberFont;
  line-height: 44px;
  width: 40px;
  float: right;
  padding: 2px 0 0 0;
  text-align: center;
  direction: ltr;
}
#header #page::selection {
  background: none;
}
#header #page:focus {
  background: #036564;
}
#header [rel=menu] {
  display: none;
}
.header {
  height: 40px;
  line-height: 32px;
  font-size: 24px;
  color: #e8ddcb;
  margin-bottom: 4px;
}
.header > div {
  height: 100%;
}
.header .right,
.header .left {
  width: 50%;
  display: inline-block;
  float: right;
  padding: 4px 7px 4px 5px;
}
.header .right {
  background: #033649;
  text-align: left;
}
.header .left {
  background: #031634;
}
.fill,
.tafsir-text .active,
.page,
.ayas {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: -10px;
  margin-left: -10px;
}
.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead .tt-dropdown-menu {
  width: 100%;
  overflow-y: auto;
  background-color: #033649;
}
.twitter-typeahead .tt-suggestion {
  color: #e8ddcb;
  padding: 2px 10px;
  font-size: 90%;
  line-height: 24px;
  cursor: pointer;
}
.twitter-typeahead .tt-suggestion:nth-child(even) {
  background-color: #031634;
}
.twitter-typeahead .tt-suggestion.tt-cursor {
  background-color: #036564;
}
.twitter-typeahead .tt-suggestion p {
  margin-bottom: 2px;
  text-align: justify;
}
.twitter-typeahead .tt-dataset-sura p {
  padding-right: calc(50% + 7px);
}
.twitter-typeahead .tt-suggestion b {
  font-size: 85%;
}
#menu {
  overflow-y: hidden;
}
#menu .modal-body {
  padding-bottom: 0;
}
#menu .close {
  font-family: Helvetica;
  margin-top: 5px;
  margin-left: 5px;
}
#menu .tab-content {
  margin-top: 25px;
  min-height: 100px;
}
#menu #options div {
  margin-bottom: 15px;
}
#menu #options div:last-child {
  margin-bottom: 0;
}
#menu .nav li {
  float: right;
}
#menu .nav li a {
  padding: 7px 15px 5px;
}
#menu .nav li a:hover {
  background-color: initial;
  border-bottom: 3px solid #eee;
}
#menu .nav li.active a {
  background-color: #eee;
  border-bottom: 3px solid #46b8da;
}
#menu p {
  text-align: justify;
}
#menu select {
  display: inline-block;
  width: initial;
  font-size: 18px;
  padding: 2px 6px;
  border-color: #eee;
}
#menu #download-tafsir {
  font-size: 18px;
  margin-top: -20px;
  padding: 0;
}
#menu #download-tafsir .glyphicon {
  top: 5px;
}
#menu #installation .btn {
  float: right;
  margin-top: -2px;
  margin-right: 5px;
}
#menu .modal-footer {
  font-size: 90%;
  padding: 10px 20px;
}
.progrecss[data-progrecss]:after {
  background-color: #033649 !important;
  box-shadow: 0 0 1px #033649 !important;
  opacity: 1 !important;
}
.page::-webkit-scrollbar {
  display: none;
}
/* animations */
@keyframes TAFSIR-HIGHLIGHT {
  0% {
    background: none;
  }
  5% {
    background: #e0d1b9;
  }
  100% {
    background: none;
  }
}
@-webkit-keyframes TAFSIR-HIGHLIGHT {
  0% {
    background: none;
  }
  5% {
    background: #e0d1b9;
  }
  100% {
    background: none;
  }
}
@keyframes ICON-SPIN {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ICON-SPIN {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* media */
@media (max-width: 480px) {
  #views {
    padding: 0 5px;
  }
  #quran .page div.sura {
    margin-right: -5px;
    margin-left: -5px;
  }
  .fill,
  .tafsir-text .active,
  .page,
  .ayas {
    padding: 0 5px;
    margin: 0 -5px;
  }
  .aya-text {
    line-height: 36px;
    font-size: 20px;
  }
  .aya-text .number {
    padding: 3px 4px 0px 3px;
  }
}
@media (max-width: 768px) {
  #wrap {
    overflow: hidden;
    border: none;
  }
  #header {
    margin: 0;
  }
  #header .glyphicon-chevron-left,
  #header .glyphicon-chevron-right {
    display: none;
  }
  #views {
    height: calc(100% - 40px);
  }
  #views:before,
  #views:after {
    content: none;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  html {
    zoom: 110%;
  }
}
@media (min-width: 480px) and (max-width: 768px), (min-height: 750px) {
  html {
    zoom: 130%;
  }
  #quran .page div.sura {
    margin-right: -10px;
    margin-left: -10px;
  }
  .aya-text {
    line-height: 46px;
  }
}
