@font-face {
  font-family: QuranFont;
  font-weight: normal;
  src: url('../fonts/QuranFont.ttf') format('truetype');
}
@font-face {
  font-family: AppFont;
  font-weight: normal;
  src: url('../fonts/AppFont.ttf') format('truetype');
}
@font-face {
  font-family: AppFont;
  font-weight: bold;
  src: url('../fonts/AppFontBd.ttf') format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  overflow: hidden;
  direction: rtl;
  font-family: AppFont;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#wrap {
  height: 100%;
  position: relative;
}
body,
blockquote p,
.tooltip-inner {
  font-size: 18px;
}
.container {
  max-width: 600px;
}
#views {
  height: 600px;
}
#quran,
#tafsir,
#detail {
  height: 100%;
  text-align: justify;
  color: #031634;
  overflow: auto;
  margin: 0 auto;
  display: none;
}
#quran.front,
#tafsir.front,
#detail.front {
  display: block;
}
#quran {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  direction: ltr;
}
#quran #pages {
  width: 100000px;
}
#quran #pages .page {
  height: 600px;
  margin-right: 10px;
  float: left;
  direction: rtl;
  overflow-y: auto;
}
#quran .aya,
#detail .aya {
  font-family: QuranFont;
  font-size: 22px;
  line-height: 42px;
}
#quran .aya span.mark,
#detail .aya span.mark {
  color: #036564;
  margin-right: 6px;
}
#quran .aya span.number,
#detail .aya span.number {
  font-family: AppFont;
  font-weight: bold;
  font-size: .65em;
  color: #f8f4ee;
  background: #cdb380;
  padding: 4px 5px 2px 4px;
  border-radius: 50px;
  min-width: 15px;
  text-align: center;
  display: inline-block;
  line-height: 18px;
  margin: 0 1px 0 3px;
  box-sizing: initial;
  -moz-box-sizing: initial;
}
#quran .page {
  visibility: hidden;
}
#quran .page.front {
  visibility: visible;
}
#quran .page div.bism {
  text-align: center;
  font-size: .9em;
  margin-top: -4px;
}
#quran .page div.sura {
  margin-top: 8px;
}
#quran .page div.sura:first-child {
  display: none !important;
}
#quran .page span.aya {
  cursor: pointer;
}
#quran .page span.aya.active .text {
  background: #e0d1b9;
}
#quran .page span.aya.active:before {
  position: absolute;
  content: "";
  background: #049795;
  height: 45px;
  width: 20px;
  right: -20px;
}
#quran .page span.aya.active .phrase {
  color: #2A6496;
}
#quran .page span.aya.active .phrase:hover,
#quran .page span.aya.active .phrase.active {
  color: #428BCA;
}
#tafsir {
  text-align: justify;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 20px;
  line-height: 25px;
}
#tafsir h1,
#tafsir h2,
#tafsir h3 {
  margin: 12px 0 6px;
  line-height: 30px;
  font-weight: bold;
}
#tafsir h2 {
  font-size: 24px;
}
#tafsir h3 {
  font-size: 22px;
}
#tafsir p {
  margin-bottom: 8px;
}
#tafsir p.ayas {
  margin-top: 10px;
}
#tafsir code {
  float: right;
  visibility: hidden;
  padding: 0;
}
#tafsir em {
  font-style: normal;
  font-weight: bold;
  font-size: .85em;
}
#tafsir span.aya {
  color: #036564;
}
#tafsir span.footnote {
  font-size: 70%;
  display: inline-block;
  vertical-align: middle;
  line-height: 7px;
  padding: 5px;
  margin: -5px;
  margin-bottom: 7px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
#tafsir h1,
#tafsir h2,
#tafsir p {
  text-shadow: 0 1px #ccc;
}
#tafsir .active {
  -webkit-animation: TAFSIR-HIGHLIGHT 1s;
  -moz-animation: TAFSIR-HIGHLIGHT 1s;
  -ms-animation: TAFSIR-HIGHLIGHT 1s;
  -o-animation: TAFSIR-HIGHLIGHT 1s;
  animation: TAFSIR-HIGHLIGHT 1s;
}
body {
  background: #e8ddcb;
}
#header {
  position: relative;
  margin-top: 20px;
}
#header > div {
  display: none;
}
#header .front {
  display: block;
}
#header .buttons {
  position: absolute;
  right: 0;
  top: 0;
}
#header .glyphicon {
  cursor: pointer;
  float: right;
  font-size: 14px;
  padding: 11px;
  z-index: 10;
  top: 0;
}
#header .glyphicon:hover {
  background: #036564;
}
#header input {
  padding: 0 10px;
  background: #031634;
  outline: none;
  border: none;
  height: 36px;
  width: 100%;
}
#header span.twitter-typeahead {
  width: 100%;
  position: absolute !important;
  left: 0;
  tof: 0;
}
#header #sura {
  direction: rtl;
  cursor: pointer;
  padding-left: 30px;
  float: left;
  width: 50%;
}
.header {
  height: 36px;
  line-height: 32px;
  font-family: AppFont;
  font-size: 24px;
  color: #e8ddcb;
  margin-bottom: 4px;
}
.header > div {
  height: 100%;
}
.header .right,
.header .left {
  width: 50%;
  display: inline-block;
  float: right;
  padding: 2px 5px;
}
.header .right {
  background: #033649;
  text-align: left;
}
.header .left {
  background: #031634;
}
#wrap {
  padding: 0 10px;
  border-right: 2px solid #031634;
  border-left: 2px solid #031634;
}
.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead .tt-dropdown-menu {
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
  background-color: #033649;
}
.twitter-typeahead .tt-suggestion {
  color: #e8ddcb;
  padding: 2px 10px;
  font-size: 90%;
  line-height: 24px;
  cursor: pointer;
}
.twitter-typeahead .tt-suggestion:nth-child(even) {
  background-color: #031634;
}
.twitter-typeahead .tt-suggestion.tt-cursor {
  background-color: #036564;
}
.twitter-typeahead .tt-suggestion p {
  margin: 0;
  padding-right: calc(50% + 10px);
}
@keyframes TAFSIR-HIGHLIGHT {
  0% {
    background: #06c8c6;
  }
  100% {
    background: none;
  }
}
@-webkit-keyframes TAFSIR-HIGHLIGHT {
  0% {
    background: #06c8c6;
  }
  100% {
    background: none;
  }
}
