@font-face {
  font-family: QuranFont;
  font-weight: normal;
  src: url('../font/QuranFont.woff') format('woff'), url('../font/QuranFont.ttf') format('truetype');
}
@font-face {
  font-family: AppFont;
  font-weight: normal;
  src: url('../font/AppFont.ttf') format('truetype');
}
@font-face {
  font-family: AppFont;
  font-weight: bold;
  src: url('../font/AppFontBd.ttf') format('truetype');
}
body {
  font-family: AppFont;
}
#wrap,
#footer {
  direction: rtl;
}
body,
blockquote p {
  font-size: 18px;
}
.btn {
  font-size: 17px;
  min-width: 25px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#push,
#footer {
  height: 60px;
}
body {
  padding: 0 20px;
}
.container {
  max-width: 800px;
}
#quran,
#tafsir {
  text-align: justify;
  overflow: auto;
  margin: 20px auto;
}
#quran {
  max-width: 600px;
  overflow: hidden;
  direction: ltr;
}
#quran #pages {
  height: inherit;
  width: 100000px;
}
#quran #pages .page {
  height: inherit;
  margin-right: 20px;
  padding: 10px;
  float: left;
  direction: rtl;
  overflow-y: auto;
}
#quran .page {
  font-family: QuranFont;
  word-spacing: 3px;
  font-size: 20px;
  line-height: 46px;
  text-shadow: 0.5px 0.5px 1px #eee;
  cursor: pointer;
  visibility: hidden;
}
#quran .page.front {
  visibility: visible;
}
#quran .page div.bism {
  text-align: center;
  font-size: .9em;
}
#quran .page div.sura {
  margin: 12px 0 5px;
  text-align: center;
  background: #eee;
}
#quran .page div.sura span {
  text-shadow: 1px 1px 2px #999;
  line-height: 20px;
}
#quran .page span.aya .text {
  padding: 0 3px;
}
#quran .page span.aya.active .text {
  background: #f7f7f7;
  box-shadow: 0 0 4px 1px #f7f7f7;
}
#quran .page span.aya.active .phrase {
  text-shadow: 0px 1px 3px #999;
}
#quran .page span.aya.active .phrase:hover,
#quran .page span.aya.active .phrase.active {
  color: #758486;
}
#quran .page span.mark {
  color: #3A87AD;
  font-family: AppFont;
  margin-right: 5px;
}
#quran .page span.number {
  margin-right: 5px;
  font-family: AppFont;
  font-weight: bold;
  font-size: .9em;
  color: #999;
}
#tafsir {
  text-align: justify;
  overflow: auto;
  padding: 0 10px;
  font-size: 20px;
  line-height: 25px;
}
#tafsir h1 {
  font-size: 1.1em;
}
#tafsir h2,
#tafsir h3 {
  font-size: 1em;
}
#tafsir h1,
#tafsir h2,
#tafsir h3 {
  margin: 12px 0 6px;
  line-height: 30px;
}
#tafsir blockquote {
  padding: 0 15px;
  margin: 0 20px;
  border-right: 5px solid #EEE;
  border-left: none;
  font-size: 1em;
}
#tafsir blockquote p {
  margin-bottom: 1px;
}
#tafsir p {
  margin-bottom: 8px;
}
#tafsir code {
  display: none;
}
em {
  font-style: normal;
  font-weight: bold;
  font-size: .85em;
}
h3 em {
  font-weight: inherit;
  font-size: inherit;
}
#message {
  position: absolute;
  bottom: 60px;
  left: 20px;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  display: none;
}
#message .container {
  max-width: 600px;
}
#message .close {
  font-family: Arial;
  margin-top: -8px;
  margin-right: -8px;
  background: #D9CEB2;
  border-radius: 15px;
  width: 20px;
}
#message #content {
  padding: 8px 15px;
  margin-bottom: 20px;
  text-align: justify;
  box-shadow: 0 0 10px #e6ddb3;
}
#message #content span.aya {
  color: royalblue;
  text-shadow: 0 1px 2px #ccc;
}
#message #content em {
  font-size: .9em;
}
#message #content .continue {
  margin-right: 5px;
}
#message #content h3 {
  font-size: 15px;
  line-height: initial;
  margin: 0;
}
#message #content p {
  margin-bottom: 0;
}
#message #content .header {
  margin-bottom: 2px;
  line-height: inherit;
}
#message #content code.page,
#message #content .footnote {
  display: none;
}
#message .alert-note {
  background-color: #FFFDC1;
  border-color: #FFFC99;
  color: #6b5d49;
  box-shadow: 0 0 10px #FFFC99;
}
#message a.link:hover .alert-note {
  background-color: #fffca7;
}
#message a {
  text-decoration: none;
}
#footer #address {
  display: none;
}
#footer.container {
  max-width: 600px;
}
#footer #current {
  color: #777;
  padding: 8px 0;
}
#footer #current .quran-address #sura {
  width: 60px;
}
#footer #current .quran-address #aya {
  width: 30px;
}
#footer #current .quran-address #page {
  width: 30px;
}
#footer #current .quran-address {
  margin-top: -4px;
}
#footer #current .quran-address input {
  margin-top: 2px;
}
#footer .nav {
  float: left;
  margin-bottom: 0;
}
#footer .control {
  background: #eee;
  box-shadow: 0px 0px 5px #eee;
  margin-right: 5px;
  min-width: 28px;
  color: #555;
}
#footer .control:hover,
#footer .control:active {
  color: #222;
  background: #e0e0e0;
}
#footer a.control {
  text-align: center;
}
#footer .bold {
  font-weight: bold;
  font-size: .85em;
  color: #666;
}
input,
select {
  border: none;
  font-family: AppFont, "B Mitra", Arial;
  text-align: right;
  background: none;
}
input:focus,
select:focus {
  outline: none;
}
select {
  font-size: 18px;
  border: none;
  background: #eee;
  text-align: right;
  padding: 0px 6px 2px;
  margin-bottom: 0;
}
select:hover,
select:active {
  color: #222;
  background: #e0e0e0;
}
.twitter-typeahead {
  display: inline !important;
}
.twitter-typeahead .tt-query {
  vertical-align: middle !important;
}
.twitter-typeahead .tt-dropdown-menu {
  top: initial !important;
  bottom: 100% !important;
}
.twitter-typeahead .tt-hint {
  display: none;
}
.twitter-typeahead .tt-dropdown-menu {
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.twitter-typeahead .tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.twitter-typeahead .tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}
.twitter-typeahead .tt-suggestion p {
  margin: 0;
}
.loading {
  background: url(loading.gif) no-repeat center center;
}
#tafsir .loading {
  height: 100px;
}
span.footnote {
  font-size: .55em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 7px;
  padding: 5px;
  margin: -5px;
  margin-bottom: 4px;
  border-radius: 10px;
  font-weight: bold;
  color: #555;
  text-shadow: 1px 0 1px #ccc;
  cursor: pointer;
}
span.footnote:hover {
  color: #049cdb;
}
#tafsir {
  text-shadow: 0 1px 0 #efefef;
  margin-right: -5%;
  padding-right: 5%;
}
#tafsir span.aya {
  color: royalblue;
  text-shadow: 0 1px 2px #ccc;
}
#tafsir li {
  list-style: none;
  line-height: 24px;
}
#tafsir code.page {
  display: initial;
  float: right;
  font-family: AppFont;
  font-size: 18px;
  line-height: 24px;
  border-radius: 0;
  color: #555;
  padding: 0;
  width: 105%;
  margin-right: -5%;
  margin-left: -100%;
  border: none;
  background: none;
}
#tafsir code.page span {
  background: #eee;
  border-top: 2px solid #aaa;
  line-height: 20px;
  text-shadow: none;
  width: 30px;
  display: inline-block;
  text-align: center;
}
#menu {
  position: absolute;
  margin: 0;
  width: 124px;
  left: -100px;
  height: 100px;
  top: -webkit-calc(50% - 50px);
  top: calc(50% - 50px);
}
#menu li {
  display: block;
  margin: 5px 0;
}
#menu li a {
  padding: 0 24px 0 18px;
  color: #ccc;
  text-decoration: none;
  position: relative;
}
#menu li a:hover {
  background: whitesmoke;
  color: #555;
}
#menu i {
  display: inline-block;
  text-align: center;
  width: 24px;
  position: absolute;
  right: 0px;
  top: 4px;
}
.modal p.option {
  margin-top: 18px;
}
.modal #copyright {
  font-size: .9em;
}
@media (max-width: 480px) {
  body {
    padding: 0 5px;
  }
  #wrap {
    margin-bottom: -40px;
  }
  #push,
  #footer {
    height: 40px;
  }
  #menu {
    display: none;
  }
  #message {
    bottom: 40px;
  }
  #message #content {
    margin-bottom: 10px;
  }
  #footer {
    padding: 0 10px;
  }
  #quran,
  #tafsir {
    margin: 5px auto;
  }
  #quran .page {
    word-spacing: 0;
    font-size: 15px;
    line-height: 32px;
    margin-right: 5px;
  }
  #quran .page span.number {
    margin-right: 2px;
  }
  #quran .page span.mark {
    margin-right: 3px;
  }
  #tafsir {
    font-size: 18px;
    line-height: 22px;
  }
  #tafsir h1,
  #tafsir h2,
  #tafsir h3 {
    line-height: 20px;
    font-size: .9em;
  }
  #tafsir p {
    margin-bottom: 5px;
  }
  #tafsir code.page {
    visibility: hidden;
  }
}
