@import "prefixer.less";

@font-face {
	font-family: QuranFont;
	font-weight: normal;
	src: url('../fonts/QuranFont.ttf') format('truetype');
}
@font-face {
	font-family: AppFont;
	font-weight: normal;
	src: url('../fonts/AppFont.ttf') format('truetype');
}
@font-face {
	font-family: AppFont;
	font-weight: bold;
	src: url('../fonts/AppFontBd.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	height: 100%;
	padding: 0;
	overflow: hidden;
	direction: rtl;
	font-family: AppFont;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#wrap {
	height: 100%;
	position: relative;
}
body, blockquote p, .tooltip-inner {
	font-size: 18px;
}

.container {
	max-width: 600px;
}

#views {
	height: 600px;
}
#quran, #tafsir, #detail {
	height: 100%;
	text-align: justify;
	color: @color5;
	overflow: auto;
	margin: 0 auto;
	display: none;

	&.front {
		display: block;
	}
}

#quran {
	width: 100%;
	max-width: 600px;
	overflow: hidden;
	direction: ltr;

	#pages {
		width: 100000px;

		.page {
			height: 600px;
			margin-right: 10px;
			float: left;
			direction: rtl;
			overflow-y: auto;
		}
	}
}

#quran .aya, #detail .aya {
	font-family: QuranFont;
	font-size: 22px;
	line-height: 42px;

	span.mark {
		color: @color3;
		margin-right: 6px;
	}
	span.number {
		font-family: AppFont;
		font-weight: bold;
		font-size: .65em;
		color: lighten(@color1, 10%);
		background: @color2;
		padding: 4px 5px 2px 4px;
		border-radius: 50px;
		min-width: 15px;
		text-align: center;
		display: inline-block;
		line-height: 18px;
		margin: 0 1px 0 3px;
		box-sizing: initial;
		-moz-box-sizing: initial;
	}
}

#quran .page {
	visibility: hidden;
	&.front {
		visibility: visible;
	}

	div.bism {
		text-align: center;
		font-size: .9em;
		margin-top: -4px;
	}
	div.sura {
		margin-top: 8px;

		&:first-child {
			display: none !important;
		}
	}

	span.aya {
		cursor: pointer;

		&.active {
			.text {
				// text-shadow: 0px 2px 3px fade(@color3, 40%);
				background: darken(@color1, 5%);
			}

			&:before {
				position: absolute;
				content: "";
				background: lighten(@color3, 10%);
				height: 45px;
				width: 20px;
				right: -20px;
			}

			.phrase {
				color: #2A6496;

				&:hover, &.active {
					color: #428BCA;
				}
			}
		}
	}
}

#tafsir {
	text-align: justify;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 20px;
	line-height: 25px;

	h1, h2, h3 {
		margin: 12px 0 6px;
		line-height: 30px;
		font-weight: bold;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 22px;
	}
	p {
		margin-bottom: 8px;

		&.ayas {
			margin-top: 10px;
		}
	}
	code {
		float: right;
		visibility: hidden;
		padding: 0;
	}
	em {
		font-style: normal;
		font-weight: bold;
		font-size: .85em;
	}
	span.aya {
		color: @color3;
	}
	span.footnote {
		font-size: 70%;
		display: inline-block;
		vertical-align: middle;
		line-height: 7px;
		padding: 5px;
		margin: -5px;
		margin-bottom: 7px;
		border-radius: 10px;
		font-weight: bold;
		cursor: pointer;
	}
	h1, h2, p {
		text-shadow: 0 1px #ccc;
	}
	.active {
		.animation(TAFSIR-HIGHLIGHT 1s);
	}
}

@color1: #E8DDCB; @color2: #CDB380; @color3: #036564; @color4: #033649; @color5: #031634;

body {
	background: @color1;
}

#header {
	position: relative;
	margin-top: 20px;

	& > div {
		display: none;
	}
	.front {
		display: block;
	}

	.buttons {
		position: absolute;
		right: 0;
		top: 0;
	}
	.glyphicon {
		cursor: pointer;
		float: right;
		font-size: 14px;
		padding: 11px;
		z-index: 10;
		top: 0;
	}
	.glyphicon:hover {
		background: @color3;
	}

	input {
		padding: 0 10px;
		background: @color5;
		outline: none;
		border: none;
		height: 36px;
		width: 100%;
	}
	span.twitter-typeahead {
		width: 100%;
		position: absolute !important;
		left: 0;
		tof: 0;
	}
	#sura {
		direction: rtl;
		cursor: pointer;
		padding-left: 30px;
		float: left;
		width: 50%;
	}
}
.header {
	height: 36px;
	line-height: 32px;
	font-family: AppFont;
	font-size: 24px;
	color: @color1;
	margin-bottom: 4px;

	& > div {
		height: 100%;
	}

	.right, .left {
		width: 50%;
		display: inline-block;
		float: right;
		padding: 2px 5px;
	}

	.right {
		background: @color4;
		text-align: left;
	}
	.left {
		background: @color5;
	}
}

#wrap {
	padding: 0 10px;
	border-right: 2px solid @color5;
	border-left: 2px solid @color5;
}

.twitter-typeahead {
	width: 100%;

	.tt-dropdown-menu {
		width: 100%;
		max-height: 600px;
		overflow-y: auto;
		background-color: @color4;
	}
	.tt-suggestion {
		color: @color1;
		padding: 2px 10px;
		font-size: 90%;
		line-height: 24px;
		cursor: pointer;
	}
	.tt-suggestion:nth-child(even) {
		background-color: @color5;
	}
	.tt-suggestion.tt-cursor {
		background-color: @color3;
	}
	.tt-suggestion p {
		margin: 0;
		padding-right: calc(~"50% + 10px");
	}
}


// animations
@keyframes TAFSIR-HIGHLIGHT {
	0% { background: lighten(@color3, 20%); }
	100% { background: none; }
}
@-webkit-keyframes TAFSIR-HIGHLIGHT {
	0% { background: lighten(@color3, 20%); }
	100% { background: none; }
}
