@font-face {
	font-family: QuranFont;
	font-weight: normal;
	src: url('../font/QuranFont.ttf') format('truetype');
}
@font-face {
	font-family: AppFont;
	font-weight: normal;
	src: local('B Mitra');
}

body {
	direction: rtl;
	font-family: AppFont;
}
body, blockquote p {
	font-size: 18px;
}

@footer: 60px;
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -@footer;
}
#push, #footer {
	height: @footer;
}

.container {
	max-width: 800px;
}

#quran, #tafsir {
	margin: 20px auto;
	text-align: justify;
	overflow: auto;
}

#quran {
	max-width: 600px;
	font-family: QuranFont;
	word-spacing: 3px;
	font-size: 18px;
	line-height: 45px;
	padding: 0 10px;
	text-shadow: 1px 1px 1px #eee;

	div.bism {
		text-align: center;
		font-size: .9em;
	}
	div.sura {
		margin: 10px 0 5px;
		text-align: center;
		background: #eee;

		span {
			text-shadow: 1px 1px 2px #999;
			line-height: 38px;
		}
	}
	span.mark {
		color: #3A87AD;
	}
}

#tafsir {
	padding: 0 5px;
	font-size: 20px;
	line-height: 25px;

	h1 {
		font-size: 1.1em;
	}
	h2, h3 {
		font-size: 1em;
	}
	h1, h2, h3 {
		margin-bottom: 0;
	}
	blockquote {
		padding: 0 15px;
		margin: 0 20px;
		border-right: 5px solid #EEE;
		border-left: none;
		font-size: 1em;

		p {
			margin-bottom: 1px;
		}
	}
	p {
		margin-bottom: 8px;
	}
	em {
		font-style: normal;
		font-weight: bold;
		font-size: .85em;
	}
}

#address {
	float: left;
	padding: 7px 15px;
}
